@import '../css/modules/Cards/activitesCard.css';
@import '../css/modules/Cards/hebergementsCard.css';
@import '../css/modules/Cards/populairesCard.css';
@import '../css/modules/footer.css';
@import '../css/modules/header.css';
@import '../css/modules/pictos.css';
@import '../css/modules/search.css';

/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --box-shadowCard: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Media queries ***********/

@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

}

@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .hebergements-and-populaires section {
        background-color: white;
        border-radius: 0px;
        padding: 20px;
        box-sizing: border-box;
    }

}