.navBar {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navBar__logo {
    height: 1.8em;
}

.navBar__menu {
    display: flex;
    gap: 30px;
}

.navBar__menu a {
    position: relative;
}

.navBar__menu a:hover {
    color: var(--main-color)
}

.navBar__menu a:hover::before {
    content: '';
    position: absolute;
    background-color: #0065FC;
    width: 100%;
    height: 3px;
    top: -27px;
}

.searchSection {
    padding: 50px 0;
}

.headerTitle {
    font-size: 1.3rem;
}

.headerSubitle {
    font-size: 1.2rem;
}


@media (max-width: 767.98px) {
    .navBar {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .navBar__logo {
        margin-top: 30px;
    }

    .navBar__menu {
        width: 100%;
        padding: 15px 0;
        border-bottom: 3px solid var(--main-bg-color);
    }

    .navBar__menu a {
        width: 100%;
        text-align: center;
    }

    .navBar__menu a:hover::before {
        display: none;
    }
    
    .navBar__menu a:hover::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 3px solid var(--main-color);
    }

    .headerTitle {
        width: 90%;
    }

    .searchSection {
        width: 100%;
        padding: 80px 20px 0px 20px;
    }
}